body{
    background-image: url("./images/regist.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 650px;
    
}
.container{
    text-align: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 50px;
}